[LSCluster:children]
pulsarServer
adminConsole
heartBeat

[LSCluster:vars]
ansible_python_interpreter=/usr/bin/python3
cluster_name="MyCluster"

[pulsarClient:children]
pulsarServer
pulsarStandAloneClient

[pulsarServer:children]
zookeeper
bookkeeper
broker

[zookeeper]
<zk_ip1>
<zk_ip2>
<zk_ip3>

[bookkeeper]
<bookie_ip1>
<bookie_ip2>
<bookie_ip3>

[broker]
<broker_ip1>
<broker_ip2>
<broker_ip3>

[adminConsole]
<adminConsole_ip>

[heartBeat]
<heartBeat_ip>

[pulsarStandAloneClient]