---
- name: Start AdminConsole if it is not running yet
  ## NOTE: Do NOT use Ansible "become_user"! Otherwise, ansible will fail to write .async file under /home/{{ pulsar_user }}
  # become_user: "{{ pulsar_user }}"
  shell: "cd {{ tgt_adminConsole_inst_dir }}/server/; nohup {% if sudo_needed|bool %}sudo -u {{ pulsar_user }} {% endif %} NODE_EXTRA_CA_CERTS={{ tgt_adminConsole_sec_dir }}/tls/rootca/{{ public_cacert_name }} npm start 2>&1 &"
  # Async shell execution with a very large number
  async: 3153600000 # 100 years
  register: ac_startSvc_cmdcat
  when: not srvStarted|trim|bool
- debug: msg="ac_startSvc_cmdcat.failed - {{ ac_startSvc_cmdcat.failed }}"
  when: show_debug_msg|bool 

- name: Wait until AdminConsole is ready
  wait_for:
    host: "{{ private_ip }}"
    port: "{{ ac_listen_port }}"
    delay: 2
    timeout: 120
  when: not srvStarted|trim|bool
