{% set webSvcList = [] %}
{% for node in groups['broker'] %}
{%   set ignored = webSvcList.append('    server ' ~ hostvars[node].private_ip ~ ':' ~ web_svc_port ~ ';') %}
{% endfor %}
{{ webSvcList | join('\n') }}